<div class="header">
 <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <%= link_to "Eventus", root_path, :class => "pure-menu-heading" %>
  <ul>
   <li><%= link_to "Log In", 'login' %></li>
  </ul>
 </div>
</div>
