<nav class="clearfix">
 <ul class="clearfix">
  

  <li><%= link_to "Eventus", root_path %></li>
  <span>Plan your next event:</span>
  <li><%= link_to "Log In", 'login' %></li>
 </ul>
 <a href="#" id="pull">Menu</a>
</nav>






